<!-- <!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Performance Matters | A blog about low-level software and hardware performance.</title>
<link id="mainstyle" rel="stylesheet" href="/assets/css/dark.css">

<style>
    html {
        color: red;
        background: black;
    }
</style>
</head>
  <body>
  </body>

</html> -->

<h1>{{ include.linkto }}</h1>
<a href="{{include.linkto}}">TO {{ include.linkto }}</a>
