<meta name="color-scheme" content="light dark">
{%- capture lightcss -%}{{ '/assets/css/light.css' | relative_url }}{%- endcapture -%}
{%- capture  darkcss -%}{{ '/assets/css/dark.css' | relative_url }}{%- endcapture %}
<script>

var DARKMODE = (function() {
    const i = {
    PROP: 'force-color',
    getOverride: function () {
      try {
        return localStorage.getItem(i.PROP);
      } catch (e) {
        return null;
      }
    },
    get: function () {
      try {
        var o = i.getOverride();
        if (o === 'dark' || (!o && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          return 'dark';
        }
      } catch (e) {}
      return 'light';
    },
    gaTheme: function () {
      var o = i.getOverride();
      return o ? o + ' force' : i.get() + ' default';
    }
    };
    return i;
}());

if (DARKMODE.get() == 'dark') {
    var link = '<meta name="theme-color" content="#181818"><link id="mainstyle" rel="stylesheet" href="{{ darkcss }}">';
} else {
    var link = '<meta name="theme-color" content="#fdfdfd"><link id="mainstyle" rel="stylesheet" href="{{ lightcss }}">';
} 
document.write(link);
</script>

<script defer src="{{ '/assets/dark-mode.js' | relative_url }}"></script>

<noscript>
    <link rel="stylesheet" href="{{ lightcss }}">
    <link rel="stylesheet" href="{{ darkcss }}" media="(prefers-color-scheme: dark)">
</noscript>
