{% comment %}
Include for SVG-based figure

Specify only one of src or file, with the former being more general.

Parameters:
file: path relative to assetpath to svg file, without extension
src: path relative to assetpath, including extension
{% endcomment %}

{% assign fig__svgfile = include.file | append: '.svg' %}
{% assign fig__src = include.src | default: fig__svgfile %}
{% assign fig__fpath = page.assets | append: '/' | append: fig__src %}

<div class="svg-fig">
    <div class="svg-fig-links">
        {% unless include.nolink %}<a href="#{{include.file}}" id="{{include.file}}">[link<span class="only-large"> to this chart</span>]</a> {% endunless %}
        {% if tablepath %}
            {% unless include.notable %}<a href="{{tablepath}}/{{include.file}}.html">[data<span class="only-large"> table</span>]</a> {% endunless %}
        {% endif %}
        {% if include.raw %}<a href="{{page.results}}/{{include.raw}}">[raw<span class="only-large"> data</span>]</a> {% endif %}
    </div>
    <a {% unless include.notable %}href="{{tablepath}}/{{include.file}}.html"{% endunless %}>
        <img class="figimg" src="{{assetpath}}/{{fig__src}}" alt="{{ include.alt | default: 'Figure' }}" {% imagesize fig__fpath:props %}>
    </a>
</div>
