{% comment %} Include for SVG-based figure {% endcomment %}

<div class="svg-fig">
    {% unless include.nolink %}<a href="#{{include.file}}" id="{{include.file}}">[link to this chart] </a>{% endunless %}
    {% unless include.notable %}<a href="{{tablepath}}/{{include.file}}.html">[data table] </a>{% endunless %}
    {% if include.raw %}<a href="{{page.results}}/{{include.raw}}">[raw data] </a>{% endif %}
    <br />
    <a href="{{tablepath}}/{{include.file}}.html">
        <img class="figimg" src="{{assetpath}}/{{include.file}}.svg" alt="{{ include.alt | default: 'Figure' }}">
    </a>
</div>