$tag-bg-color: #dddddd;

// background colors for callouts
$danger-bg-color:  #ffdddd;
$success-bg-color: #ddffdd;
$info-bg-color:    #e7f3fe;
$warning-bg-color: #ffffcc;

// background colors for text areas
$text-area-bg-color: #f4f4f4;
