$tag-bg-color: #dddddd;

// background colors for callouts
$danger-bg-color:  #ffdddd;
$success-bg-color: #ddffdd;
$info-bg-color:    #e7f3fe;
$warning-bg-color: #ffffcc;

// background colors for text areas
$text-area-bg-color: #f4f4f4;

// overrides to meet a11y friendly minimim contrast of 4.5
$brand-color: #747474;
$link-base-color: #2774d8;
