$tag-bg-color: rgb(51, 51, 51);

// background colors for callouts
$danger-bg-color:  #6b0000;
$success-bg-color: #005200;
$info-bg-color:    #003363;
$warning-bg-color: #440;

// background colors for text areas
$text-area-bg-color:    #2c2c2c;
