
// support styles for carousel.html include

$selected-tab-color: lighten($background-color, 10%);

  .tabs {
    font-size: 0;
    margin: 25px 0;
  }
  
  .tabs:after {
    clear: both;
    content: '';
    display: table;
  }
  
  .tabs .tab {
    display: inline;
  }
  
  .tabs .tab-label {
    background: $background-color; 
    border: 1px solid #ccc; 
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    left: 1px;
    margin-left: -1px;
    padding: 10px;
    position: relative;
    vertical-align: bottom;
    cursor: pointer;
  }
  
  .tabs .tab > [type="radio"] {
    clip: rect(0 0 0 0);
    height: 1px;
    opacity: 0;
    position: fixed;
    width: 1px;
    z-index: -1;
  }
  
  .tabs .tab-panel {
    display: inline-block;
    overflow: hidden;
    position: relative;
    height: 0;
    width: 0;
  }
  
  .tabs .tab-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    background: $selected-tab-color;
    // padding: 0 20px;
    border: 1px solid $brand-color;
    float: left;
    font-size: 16px;
    font-size: 1rem;
    margin-top: -1px;
    width: 100%;
  }
  
  .tabs .tab [type="radio"]:checked + .tab-label {
    background: $selected-tab-color;
    border-bottom-width: 0;
    padding-bottom: 11px;
    z-index: 1;
  }
  
  .tabs .tab [type="radio"]:checked ~ .tab-panel {
    display: inline;
  }
  
  
  /* for smaller screens, use a different tab scheme */
  @media only screen and (max-width: 43em) {
    .tabs .tab > label {
      background: $background-color;
      border-color: #999;
      
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
    }
    .tabs .tab [type="radio"]:checked + .tab-label {
      background: $selected-tab-color;
    }
  }
