---
# Only the main Sass file needs front matter (the dashes are enough)
---

// rules can use ld-select to choose between light and dark options
@function ld-select($light, $dark) { @return $dark; }

// this import contains my own local skin-dependent vars
@import "dark-vars";
@import "minima/skins/dark";
@import "minima/initialize";

// useful for inverting images only in dark mode
.invert-img img {
    filter: invert(0.88);
}

// invert and rotate hue override
.invert-rotate-img {
    filter: invert(0.88) hue-rotate(180deg) !important;
}

