---
---

// eat IDE errors from front-matter dashes
#x {--x:0}

// you can use the light and dark vars (which are set the opposite way in the light theme)
// to implement crude conditional styles for embedded <style> elements, among others
:root {
    --dark: 1;
    --light: 0;
}

// rules can use ld-select to choose between light and dark options
@function ld-select($light, $dark) { @return $dark; }

// this import contains my own local skin-dependent vars
@import "dark-vars";
@import "minima/skins/dark";
@import "minima/initialize";

// useful for inverting images only in dark mode
.invert-img img:not(.no-invert), img.invert-img:not(.no-invert) {
    filter: invert(0.88);
}

// invert and rotate hue override
.invert-rotate-img img:not(.no-invert), img.invert-rotate-img:not(.no-invert) {
    filter: invert(0.88) hue-rotate(180deg);
}

// The above invert values map white to a grey slightly lighter than the background
// so that image borders are clear. This one matches the background, for a seamless
// appearance.
.invert-match {
    filter: invert(0.906);
}

