---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.footnotes {
  font-size: $small-font-size;
  margin: -10px 20px;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_danger */

.danger {
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
  padding: 4px 12px;
  margin-left: 30px;
}

.success {
  background-color: #ddffdd;
  border-left: 6px solid #4CAF50;
  padding: 4px 12px;
  margin-left: 30px;
}

.info {
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
  padding: 4px 12px;
  margin-left: 30px;
}

.warning {
  background-color: #ffffcc;
  border-left: 6px solid #ffeb3b;
  padding: 4px 12px;
  margin-left: 30px;
}

// see issue #9
// fixes red error highlighting in nasm code snippets
.highlight {
  .err { all:unset; }
}
