.highlight .c { color: #545454; font-style: italic; }

.highlight .err { color: #f07178; background-color: #e3d2d2; }

.highlight .k { color: #89DDFF; font-weight: bold; }

.highlight .o { font-weight: bold; }

.highlight .cm { color: #545454; font-style: italic; }

.highlight .cp { color: #545454; font-weight: bold; }

.highlight .c1 { color: #545454; font-style: italic; }

.highlight .cs { color: #545454; font-weight: bold; font-style: italic; }

.highlight .gd { color: #000; background-color: #fdd; }

.highlight .gd .x { color: #000; background-color: #faa; }

.highlight .ge { font-style: italic; }

.highlight .gr { color: #f07178; }

.highlight .gh { color: #999; }

.highlight .gi { color: #000; background-color: #dfd; }

.highlight .gi .x { color: #000; background-color: #afa; }

.highlight .go { color: #888; }

.highlight .gp { color: #555; }

.highlight .gs { font-weight: bold; }

.highlight .gu { color: #aaa; }

.highlight .gt { color: #f07178; }

.highlight .kc { font-weight: bold; }

.highlight .kd { font-weight: bold; }

.highlight .kp { font-weight: bold; }

.highlight .kr { font-weight: bold; }

.highlight .kt { color: #FFCB6B; font-weight: bold; }

.highlight .m { color: #F78C6C; }

.highlight .s { color: #C3E88D; }

.highlight .na { color: #008080; }

.highlight .nb { color: #EEFFFF; }

.highlight .nc { color: #FFCB6B; font-weight: bold; }

.highlight .no { color: #008080; }

.highlight .ni { color: #800080; }

.highlight .ne { color: #900; font-weight: bold; }

.highlight .nf { color: #82AAFF; font-weight: bold; }

.highlight .nn { color: #555; }

.highlight .nt { color: #FFCB6B; }

.highlight .nv { color: #EEFFFF; }

.highlight .ow { font-weight: bold; }

.highlight .w { color: #EEFFFF; }

.highlight .mf { color: #F78C6C; }

.highlight .mh { color: #F78C6C; }

.highlight .mi { color: #F78C6C; }

.highlight .mo { color: #F78C6C; }

.highlight .sb { color: #C3E88D; }

.highlight .sc { color: #C3E88D; }

.highlight .sd { color: #C3E88D; }

.highlight .s2 { color: #C3E88D; }

.highlight .se { color: #EEFFFF; }

.highlight .sh { color: #C3E88D; }

.highlight .si { color: #C3E88D; }

.highlight .sx { color: #C3E88D; }

.highlight .sr { color: #C3E88D; }

.highlight .s1 { color: #C3E88D; }

.highlight .ss { color: #C3E88D; }

.highlight .bp { color: #999; }

.highlight .vc { color: #FFCB6B; }

.highlight .vg { color: #EEFFFF; }

.highlight .vi { color: #EEFFFF; }

.highlight .il { color: #F78C6C; }

html { font-size: 16px; }

/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
body { font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif; color: #bbbbbb; background-color: #181818; -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; display: flex; min-height: 100vh; flex-direction: column; overflow-wrap: break-word; }

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 15px; }

hr { margin-top: 30px; margin-bottom: 30px; }

/** `main` element */
main { display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

/** Images */
img { max-width: 100%; vertical-align: middle; }

/** Figures */
figure > img { display: block; }

figcaption { font-size: 14px; }

/** Lists */
ul, ol { margin-left: 30px; }

li > ul, li > ol { margin-bottom: 0; }

/** Headings */
h1, h2, h3, h4, h5, h6 { font-weight: 400; }

/** Links */
a { color: #79b8ff; text-decoration: none; }

a:visited { color: #79b8ff; }

a:hover { color: #bbbbbb; text-decoration: underline; }

.social-media-list a:hover, .pagination a:hover { text-decoration: none; }

.social-media-list a:hover .username, .pagination a:hover .username { text-decoration: underline; }

/** Blockquotes */
blockquote { color: #999999; border-left: 4px solid #404040; padding-left: 15px; font-size: 1.125rem; font-style: italic; }

blockquote > :last-child { margin-bottom: 0; }

blockquote i, blockquote em { font-style: normal; }

/** Code formatting */
pre, code { font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Liberation Mono", monospace; font-size: 0.9375em; border: 1px solid #404040; border-radius: 3px; background-color: #212121; }

code { padding: 1px 5px; }

pre { padding: 8px 12px; overflow-x: auto; }

pre > code { border: 0; padding-right: 0; padding-left: 0; }

.highlight { border-radius: 3px; background: #212121; }

.highlighter-rouge .highlight { background: #212121; }

/** Wrapper */
.wrapper { max-width: calc(800px - (30px)); margin-right: auto; margin-left: auto; padding-right: 15px; padding-left: 15px; }

@media screen and (min-width: 800px) { .wrapper { max-width: calc(800px - (30px * 2)); padding-right: 30px; padding-left: 30px; } }

/** Clearfix */
.wrapper:after { content: ""; display: table; clear: both; }

/** Icons */
.orange { color: #f66a0a; }

.grey { color: #828282; }

.svg-icon { width: 16px; height: 16px; display: inline-block; fill: currentColor; padding: 5px 3px 2px 5px; vertical-align: text-bottom; }

/** Tables */
table { margin-bottom: 30px; width: 100%; text-align: left; color: #bbbbbb; border-collapse: collapse; border: 1px solid #404040; }

table tr:nth-child(even) { background-color: #222222; }

table th, table td { padding: 10px 15px; }

table th { background-color: #323232; border: 1px solid #4e4e4e; }

table td { border: 1px solid #404040; }

@media screen and (max-width: 800px) { table { display: block; overflow-x: auto; -webkit-overflow-scrolling: touch; -ms-overflow-style: -ms-autohiding-scrollbar; } }

/** Site header */
.site-header { border-top: 5px solid #999999; border-bottom: 1px solid #404040; min-height: 55.95px; line-height: 54px; position: relative; }

.site-title { font-size: 1.625rem; font-weight: 300; letter-spacing: -1px; margin-bottom: 0; float: left; }

@media screen and (max-width: 600px) { .site-title { padding-right: 45px; } }

.site-title, .site-title:visited { color: #a6a6a6; }

.site-nav { position: absolute; top: 9px; right: 15px; background-color: #181818; border: 1px solid #404040; border-radius: 5px; text-align: right; }

.site-nav .nav-trigger { display: none; }

.site-nav .menu-icon { float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; }

.site-nav .menu-icon > svg path { fill: #999999; }

.site-nav label[for="nav-trigger"] { display: block; float: right; width: 36px; height: 36px; z-index: 2; cursor: pointer; }

.site-nav input ~ .trigger { clear: both; display: none; }

.site-nav input:checked ~ .trigger { display: block; padding-bottom: 5px; }

.site-nav .page-link { color: #bbbbbb; line-height: 1.5; display: block; padding: 5px 10px; margin-left: 20px; }

.site-nav .page-link:not(:last-child) { margin-right: 0; }

@media screen and (min-width: 600px) { .site-nav { position: static; float: right; border: none; background-color: inherit; } .site-nav label[for="nav-trigger"] { display: none; } .site-nav .menu-icon { display: none; } .site-nav input ~ .trigger { display: block; } .site-nav .page-link { display: inline; padding: 0; margin-left: auto; } .site-nav .page-link:not(:last-child) { margin-right: 20px; } }

/** Site footer */
.site-footer { border-top: 1px solid #404040; padding: 30px 0; }

.footer-heading { font-size: 1.125rem; margin-bottom: 15px; }

.feed-subscribe .svg-icon { padding: 5px 5px 2px 0; }

.contact-list, .social-media-list, .pagination { list-style: none; margin-left: 0; }

.footer-col-wrapper, .social-links { font-size: 0.9375rem; color: #999999; }

.footer-col { margin-bottom: 15px; }

.footer-col-1, .footer-col-2 { width: calc(50% - (30px / 2)); }

.footer-col-3 { width: calc(100% - (30px / 2)); }

@media screen and (min-width: 800px) { .footer-col-1 { width: calc(35% - (30px / 2)); } .footer-col-2 { width: calc(20% - (30px / 2)); } .footer-col-3 { width: calc(45% - (30px / 2)); } }

@media screen and (min-width: 600px) { .footer-col-wrapper { display: flex; } .footer-col { width: calc(100% - (30px / 2)); padding: 0 15px; } .footer-col:first-child { padding-right: 15px; padding-left: 0; } .footer-col:last-child { padding-right: 0; padding-left: 15px; } }

/** Page content */
.page-content { padding: 30px 0; flex: 1 0 auto; }

.page-heading { font-size: 2rem; }

.post-list-heading { font-size: 1.75rem; }

.post-list { margin-left: 0; list-style: none; }

.post-list > li { margin-bottom: 30px; }

.post-meta { font-size: 14px; color: #999999; }

.post-link { display: block; font-size: 1.5rem; }

/** Posts */
.post-header { margin-bottom: 30px; }

.post-title, .post-content h1 { font-size: 2.625rem; letter-spacing: -1px; line-height: 1.15; }

@media screen and (min-width: 800px) { .post-title, .post-content h1 { font-size: 2.625rem; } }

.post-content { margin-bottom: 30px; }

.post-content h1, .post-content h2, .post-content h3 { margin-top: 60px; }

.post-content h4, .post-content h5, .post-content h6 { margin-top: 30px; }

.post-content h2 { font-size: 1.75rem; }

@media screen and (min-width: 800px) { .post-content h2 { font-size: 2rem; } }

.post-content h3 { font-size: 1.375rem; }

@media screen and (min-width: 800px) { .post-content h3 { font-size: 1.625rem; } }

.post-content h4 { font-size: 1.25rem; }

.post-content h5 { font-size: 1.125rem; }

.post-content h6 { font-size: 1.0625rem; }

.social-media-list, .pagination { display: table; margin: 0 auto; }

.social-media-list li, .pagination li { float: left; margin: 5px 10px 5px 0; }

.social-media-list li:last-of-type, .pagination li:last-of-type { margin-right: 0; }

.social-media-list li a, .pagination li a { display: block; padding: 7.5px; border: 1px solid #404040; }

.social-media-list li a:hover, .pagination li a:hover { border-color: #a6a6a6; }

/** Pagination navbar */
.pagination { margin-bottom: 30px; }

.pagination li a, .pagination li div { min-width: 41px; text-align: center; box-sizing: border-box; }

.pagination li div { display: block; padding: 7.5px; border: 1px solid transparent; }

.pagination li div.pager-edge { color: #404040; border: 1px dashed; }

/** Grid helpers */
@media screen and (min-width: 800px) { .one-half { width: calc(50% - (30px / 2)); } }

.comments input, .comments select, .comments textarea, .comments label, .comments button { font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif; color: #bbbbbb; }

.comments fieldset { border: none; padding: 0; }

.comments textarea, .comments input { background-color: #2c2c2c; }

.comments .textfield { max-width: 100%; padding: 0.5rem 0; }

.comments .narrowfield { width: 420px; }

.comments .hp { display: none; }

.comments textarea { vertical-align: top; }

.comments .textfield__input { border: 1px solid rgba(0, 0, 0, 0.12); padding: 4px 5px; width: 100%; font-size: 16px; }

.comments .notify-me, .comments .g-recaptcha { padding: 0.5rem 0; }

.comments .button { background: rgba(158, 158, 158, 0.2); box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.14); border: none; border-radius: 2px; padding: 4px 8px; overflow: hidden; cursor: pointer; -webkit-transition-duration: 0.4s; transition-duration: 0.4s; margin: 4px 0px 0px 0px; }

.comments button:hover { background-color: #999999; color: white; }

.comments .comment__new { padding: 0px 0px 14px 0px; }

.comments .comment__author { color: #999999; }

.comments .comment__admin_tag { font-size: 0.8em; border-color: #999999; border-style: solid; border-width: 1px; background-color: #050; border-radius: 2em; padding: 3px 4px 2px 4px; }

.comments .comment__date { font-size: 14px; }

.comments .comment__body { font-size: 16px; }

.comments .comment__meta { text-align: left; color: #999999; font-size: 14px; }

.comments .comments__existing { padding: 8px 0px 0px 0px; }

.comments .comment { border-top: 0px solid #a6a6a6; padding: 0px 0px 0px 0px; margin-bottom: 1em; }

.comments .comment.child { margin-left: 3em; }

.comments .comment__reply-link { color: #999999; font-size: 14px; cursor: pointer; }

.show-modal { overflow: hidden; position: relative; }

.show-modal:before { position: absolute; content: ''; top: 0; left: 0; width: 100%; height: 100%; z-index: 999; background-color: rgba(24, 24, 24, 0.5); }

.show-modal .modal { display: block; }

.modal { display: none; position: fixed; width: 330px; top: 50%; left: 50%; margin-left: -150px; margin-top: -150px; min-height: 0; z-index: 9999; box-shadow: 2px 2px 2px 2px rgba(153, 153, 153, 0.5); padding: 16px; border-radius: 2px; background: #181818; overflow: hidden; box-sizing: border-box; }

.mdl-card__supporting-text { max-height: 400px; overflow: auto; padding: 16px; }

.modal-title { margin-bottom: 0px; }

.disabled input, .disabled button, .disabled textarea, .disabled label { pointer-events: none; cursor: not-allowed; filter: alpha(opacity=65); box-shadow: none; opacity: 0.65; }

.tabs { font-size: 0; margin: 25px 0; }

.tabs:after { clear: both; content: ''; display: table; }

.tabs .tab { display: inline; }

.tabs .tab-label { background: #181818; border: 1px solid #ccc; display: inline-block; font-size: 16px; font-size: 1rem; left: 1px; margin-left: -1px; padding: 10px; position: relative; vertical-align: bottom; cursor: pointer; }

.tabs .tab > [type="radio"] { clip: rect(0 0 0 0); height: 1px; opacity: 0; position: fixed; width: 1px; z-index: -1; }

.tabs .tab-panel { display: inline-block; overflow: hidden; position: relative; height: 0; width: 0; }

.tabs .tab-content { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: block; background: #323232; border: 1px solid #999999; float: left; font-size: 16px; font-size: 1rem; margin-top: -1px; width: 100%; }

.tabs .tab [type="radio"]:checked + .tab-label { background: #323232; border-bottom-width: 0; padding-bottom: 11px; z-index: 1; }

.tabs .tab [type="radio"]:checked ~ .tab-panel { display: inline; }

/* for smaller screens, use a different tab scheme */
@media only screen and (max-width: 43em) { .tabs .tab > label { background: #BBB; border-color: #999; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; } .tabs .tab [type="radio"]:checked + .tab-label { background: #323232; } }

.footnotes { font-size: 14px; margin: -10px 20px; }

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_danger */
.warning, .info, .success, .danger { padding: 4px 12px; margin: 15px 30px; }

.danger { background-color: #6b0000; border-left: 6px solid #f44336; }

.success { background-color: #005200; border-left: 6px solid #4CAF50; }

.info { background-color: #003363; border-left: 6px solid #2196F3; }

.warning { background-color: #440; border-left: 6px solid #ffeb3b; }

@keyframes spin { 0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); } }

.icon { display: inline-block; fill: currentColor; height: 1em; line-height: 1; position: relative; top: -0.125em; vertical-align: middle; width: 1em; }

.icon.spin { animation: spin 2s infinite linear; }

#comment-section, #comment-section * { box-sizing: border-box; }

.dataframe { text-align: right; }

.svg-fig { font-size: 80%; }

.td-right td { text-align: right; }

.table-wrapper { overflow-x: auto; }

.table-wrapper table { display: table; width: unset; overflow-x: unset; }

.table-nowrap-header th { white-space: nowrap; }

sup[id^='fnref'] { font-size: 0.8em; line-height: 0; }

.tag-link { background-color: #333333; display: inline-block; padding-left: 8px; padding-right: 8px; margin: 0px 2px; text-align: center; border-radius: 10%; }

pre, code { font-size: 0.9375rem; }

.invert-img img:not(.no-invert) { filter: invert(0.88); }

.invert-rotate-img img:not(.no-invert), img.invert-rotate-img:not(.no-invert) { filter: invert(0.88) hue-rotate(180deg); }

.dm-bright-40 { filter: brightness(0.4); }

/*# sourceMappingURL=dark.css.map */