@import "comment-styles";
@import "tab-styles";

.footnotes {
  font-size: $small-font-size;
  margin: -10px 20px;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_danger */

%callout-base {
  padding: 4px 12px;
  margin: 15px 30px;
}

.danger {
  @extend %callout-base;
  background-color: $danger-bg-color;
  border-left: 6px solid #f44336;
}

.success {
  @extend %callout-base;
  background-color: $success-bg-color;
  border-left: 6px solid #4CAF50;
}

.info {
  @extend %callout-base;
  background-color: $info-bg-color;
  border-left: 6px solid #2196F3;
}

.warning {
  @extend %callout-base;
  background-color: $warning-bg-color;
  border-left: 6px solid #ffeb3b;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  line-height: 1;
  position: relative;
  top: -0.125em; // fine-tune alignment
  vertical-align: middle;
  width: 1em;

  &.spin {
    animation: spin 2s infinite linear;
  }
}

#comment-section, #comment-section * {
  box-sizing: border-box;
}

// style for dataframes dumped by pandas
.dataframe {
  text-align: right;
}

// style for svg-fig include
.svg-fig {
  font-size: 80%;
  margin-bottom: $spacing-unit / 2;
}

// optioinal style to right align data in tables
.td-right td {
  text-align: right;
}

// wrap a table to give it horizontal scroll
.table-wrapper {
  overflow-x: auto;
}

.table-wrapper table {
  display: table;
  width: unset;
  overflow-x: unset;
  margin: auto;
  margin-bottom: $spacing-unit;
}

.table-nowrap-header th {
  white-space: nowrap;
}


sup[id^='fnref'] {
  font-size: 0.8em;
  line-height: 0; // prevent superscript from affecting the line height when it appears
}

.tag-link {
  background-color:$tag-bg-color;
  display:inline-block;
  padding-left:8px;
  padding-right:8px;
  margin: 0px 2px;
  text-align:center;
  border-radius:10%;
}

// workaround for
// https://github.com/jekyll/minima/issues/604
pre,
code {
  @include relative-font-size(0.9375);
}

// workaround for https://github.com/travisdowns/travisdowns.github.io/issues/449
.axe-hack pre > code {
  display: block;
}

a > code {
  color: ld-select(#246bc7, $link-base-color);
}

.tag-link a {
  color: ld-select(#2060b2, $link-base-color);
}

// styles related to the dark mode banner at the top
$dm-bar-height: 30px;

.dm-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $dm-bar-height;
  line-height: $dm-bar-height;
  background-color: #343434;
  color: #bbb;
  overflow: hidden;
  z-index: 100;
}

#dm-header.hidden {
  display: none;
}

.dm-spacer {
  height: $dm-bar-height - 5px;
}

.dm-checkbox {
  float: left;
  cursor: pointer;
  font-weight: bold;
}

#dm-select {
  transform: scale(1.2);
}

.dm-close {
  font-size: 24px;
  float: right;
  cursor: pointer;
  user-select: none;
}

.dm-close:hover {
  font-weight: bold;
  filter: brightness(1.2)
}

.dm-checkbox input[type="checkbox"] {
  cursor: pointer;
}

// markdown-toc styles
// styles the table of contents inserted by markdown
// primarily to space out the TOC enough on mobile to 
// avoid tap issues
#markdown-toc li {
  margin-top: 5px;
}
