name: CI
on:
  push:
  schedule:
    - cron:  '42 1 * * *' # run at 1:42 AM every day

jobs:
  build-publish:
    name: Build and Publish
    runs-on: ubuntu-20.04
    steps:
    - name: Main checkout (source)
      uses: actions/checkout@v2
      with:
        path: main

    - uses: rlespinasse/github-slug-action@3.5.1

    - name: Set vars
      run: main/_scripts/ci-vars.sh

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7.3
        bundler-cache: true
        working-directory: main
        cache-version: 42

    - name: Build site
      env:
        BUILD_SRC: main
        BUILD_DEST: _site
        BUILD_EXTRA_OPTIONS: ${{ env.EXTRA_BUILD_ARGS }}
      run: main/_scripts/build-site.sh

    - name: Check out destination (HTML) branch
      uses: actions/checkout@v2
      if: env.PUBLISH_BRANCH
      with:
        ref: ${{ env.PUBLISH_BRANCH }}
        path: output

    - name: Publish site
      if: env.PUBLISH_BRANCH
      env:
        PUB_BRANCH: ${{ env.PUBLISH_BRANCH }}
        PUB_DEST_DIR: docs
        PUB_COMMIT_MSG: ${{ github.event.head_commit.message }}
      run: main/_scripts/publish-github.sh

    - name: Tar site
      run: tar czf site.tar.gz _site && du -k site.tar.gz

    - name: Upload site artifact
      uses: actions/upload-artifact@v2
      with:
        name: site
        path: site.tar.gz


  screenshots:
    name: Take Screenshots
    runs-on: ubuntu-20.04
    needs: build-publish
    if: |
      github.event_name == 'push' && (
      github.ref == 'refs/heads/master' ||
      github.ref == 'refs/heads/publish-artifact'
      )
    steps:
    - name: Main checkout (source)
      uses: actions/checkout@v2
      with:
        path: main

    - uses: rlespinasse/github-slug-action@3.5.1

    - uses: actions/download-artifact@v2
      with:
        name: site

    - name: Untar site
      run: |
        tar xf site.tar.gz
 
    - name: Take and publish screenshots
      env:
        SNAPSHOT_REPO: https://github.com/travisdowns/blog-screenshots
        SNAPSHOT_DEST_PATH: light-1200px
        SNAPSHOT_BRANCH: ${{ env.GITHUB_REF_SLUG }}
        SNAPSHOT_USER: ${{ github.actor }}
        SNAPSHOT_EMAIL: ${{ github.actor }}@users.noreply.github.com
        SNAPSHOT_REPO_AUTH: ${{ secrets.SNAPSHOT_REPO_AUTH }}
        SNAPSHOT_EXCLUDES: '**/debug-pages.html,misc/tables/intel-zero-opt/**'
        SNAPSHOT_WIDTH: 1200
        SNAPSHOT_COMMIT_MSG: >
          [screenshot SNAPSHOT_MOD_TAG mod, SNAPSHOT_NEW_TAG new]
          ${{ github.actor }}: ${{ github.event.head_commit.message }}
      run: main/_scripts/snapshot.sh

  htmlproof:
    name: ${{ matrix.script.name }}
    runs-on: ubuntu-20.04
    needs: build-publish
    env:
      SRC: main
      SITE: _site
    strategy:
      matrix:
        script:
          - path: internal-links.sh
            name: Internal Links
          - path: external-links.sh
            name: External Links
          - path: validate-html.sh
            name: Check HTML
          - path: misc.sh
            name: Miscellaneous
    steps:
    - name: Main checkout (source)
      uses: actions/checkout@v2
      with:
        path: main

    - uses: actions/download-artifact@v2
      with:
        name: site

    - name: Untar site
      run: |
        tar xf site.tar.gz

    - name: Install htmlproofer
      run: sudo gem install html-proofer

    - name: Run htmlproofer
      run: main/_scripts/checks/${{ matrix.script.path }}
